<p>order-add works!</p>

<div class="row card-deck">
  <div class="col-lg-4 col-md-6 mb-4" >
    <div class="card text-center">
      <div class="card-header">
        <h4> "Título" </h4>
      </div>
      <div class="card-body">
        <a href="#"><img class="card-img-top" src="" alt=""></a>
        <h5 class="card-title">$  PRECIO  </h5>

        <div class="row">

        </div>

        <div class="row">
          <div class="col-4 padding-0" >
            <input type="number" min="0" class="form-control" >
          </div>

          <div class="col-8 padding-0" >
            <button class="btn btn-primary btn-block">Add To Cart
            </button>
          </div>
          <div class="col-12" >
            <button class="btn btn-primary btn-block">Remove From Cart
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<br>


<div class="card text-white bg-danger mb-3" style="max-width: 18rem;">
  <div class="card-header text-center" style="font-size: 25px;font-weight: bold"> ORDER</div>
  <div class="card-header text-center">Shopping Cart  </div>
  <div class="card-body">
    <h5 class="card-title">Total amount: $ </h5>
    <hr>

    <h6 class="card-title">  Items bought:</h6>

    <ul>
      <li >
        - $ x pcs.
      </li>
    </ul>

    <button class="btn btn-primary btn-block">Pay</button>

    <div class="alert alert-success" role="alert">
      <strong> Congratulation!</strong> You successfully made the order.
    </div>
  </div>
</div>
