<div>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <div class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="orders" class="nav-link">Orders</a>
      </li>

      <li class="nav-item">
        <a routerLink="orderAdd" class="nav-link">New Order</a>
      </li>

      <li class="nav-item">
        <a routerLink="login" class="nav-link">Login</a>
      </li>

    </div>
  </nav>

  <div class="container mt-3">
    <router-outlet></router-outlet>
  </div>
</div>
